/*
  Layer Template
  http://www.templatemo.com/preview/templatemo_438_layer
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.blue {
  color: #06C;
}

.green {
  color: #090;
}

.lightgreen {
  color: #3C6;
}

.yellow {
  color: #CC6;
}

.orange {
  color: #C60;
}

.white {
  color: #FFF;
}

/*BASIC*/

ul {
  padding: 0;
  margin: 0;
}

p {
  color: #787878;
  line-height: 22px;
}

body {
  background-color: #eee!important;
  overflow-x: hidden;
}

.templatemo-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}


/*PARALLAX*/

[class*="bg__"] {
  height: 100vh;

  position: relative;
  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__first {
  background-image: url(
https://images.squarespace-cdn.com/content/v1/53f222ece4b0607c74c991b4/1527336114564-I5PHXS82TEPRAK1SHW9L/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/beans-birthday-cover.jpg?format=2500w
  );
}
.bg__first .container {
  height: 75.5vh;
  min-height: 440px;
}

.bg__second {
  border-bottom: 3px solid #f23b3b;
  height: 45vh;
  background-image: url(
    https://lh3.googleusercontent.com/s6RkmDJZXuxZwMUJxhW2F6qnWwJzSxDV7277mW2BnA1_EroK--_THL4CiVOZ23XcyoO_wLQ8j77ylyVCBZrUCSOBkGYaTPjRxRsibxJYl-iLZOuvlPrVqjgcauSQtlf9LnHUrfr6Addfq9hAIQFLOp7zFK-cEQJloZg-T6J087z3AdckEKp9E9rfx1B1Ez7IckFg5ViB_GIOG8m7GbpBQ4xo7wOtjBmweX-xSMy_Olad7M6jT0AoRSLWCraBFCc0uek0f1dD_3ZKEiIdGyPBHj6mMdWsoN6MLllR5zWNNQ6csDqXVBMMpEvrI-aWRAMcnoiQtrJn_mfH44jlXAe8sf5qNcaQYPF99J0W3xmxpWqezFpvSrwALJADvfYiIXwbCP6pp5RDKJ_bF2I1H3L1v3q0LSGziKQEMLuw0OjLbHZk4qwGfYWAypY60njZoJVe7EVxOLB_KxXOotbVhp96Ky8mKTrrl9UGinegH86T4sBuKDtqibyh7364OvHpt1Y0MQpmPGvoGmSyQ_UD_oRdcbhl7WznUzJ9tS2PYzDRTwyP-36-a0ieOJSnB1UnMHM_Eonbj-xZib8cdcWo_3LwQ1Pr4jqzB27LmYjsaa5hiO8KHrrucHfUsD2DJX20FDeRH3ejZuMwrLY7TbS19KWfUqPmgMZ4cZFLKS1A9G5scSsz3QRSnINLIjv2cTDWbg=w563-h750-no?authuser=0
  );
}

.bg__third {
  height: 100vh;

  background-image: url(
    https://lh3.googleusercontent.com/kp1wtP3JY3eNscECqdrHUnaBIuVg-1P006oicmpuW9tyjI9f2DOx6FDoAoKEuH9PU0cdmsvlkpsyYxUksKr37owIj5_A39pAy0hQUf_v1KMjeRg_-wJdq-ucoh1ZETuhrUTW6P63TR-t1HhzIc-duohnbP1JsT4VDYaburE7H2xE7VzTEoAz_iwxOnt4mcuUrHYgEDDeFWcX8i9Rtvk7HP5x1qmsb-MyGAKXX5r1DHWnP28vr7Qjz3SeFf3uihxpdAQzWRLxyXHX0lmMWl7Q2rflRD2_oBvCHWBEU9wNSIXzsGgyqBERbBsu0fzddLoHnXaT5u0Y34lFE1z7I1S45zcYTbnJeAUx4crr0p4uR4BU9KT_X-u6ZHt_1QknrDkD5QzN2J3HteM2I3eGtvpYxuibmXqo05b-IPJPGLA_lq_R2_GoC8gpH1KzL5nK3MbZmZjtqVixQqWEPRZIJRm8vB94sg9CPaZXocjB6WoVQTJ2v8ttGeSHrAbLGrUlKg6jKYAbA1F1wGh71-g3d0ybJQmUx3q2wF11HSA3Wu6K6cISkGyNFtvcxhN3819gQAyvT4lijLALgop8Vt7WRRtD0TQUxL9Fg7Riq_BtDQfd3Qb0dZE-iz8E99e_Pyi18uevB_GOR1L_3OEyF6tLGYNnVPhGSXQVMuO-ims8086ADJzwl7sbZa0HLJIqL9JfHw=w965-h543-no?authuser=0
  );
}

.bg__another {
  height: 100vh;

  background-image: url(
    https://lh3.googleusercontent.com/Jm4gL5KZQ_RF74pbkMiwXJS0jg0k1FX_ix0mIWkavfQY_PA0SSj8zrWdcLt0NQsKxYypjvv1sCmvhjswA5QBnE4JJHWXai3FBRpyFNxX_jQLh6Wiu8JQ2Ng-4hBLXKcWMWKb7MEjm6Uhl7Lx8su2uaFwJOfKBvogz-4kLyGuEA-KrHEf7xEHUakUkf1peP_iGeQGJ3bmfW90coJ2nliSKYzV76qxmxOsp6Ri07lAg_zXXkmyX2ZnBvnpHTEtGqg2QigT81g14it2Sxl3ZT80W7AyZ5y8L0WEbMUwiwosJm--GQcWPu9DRkA7bx8X08jWqy_z2sJGN8afsCpBRM59A-odHSV9R2gWUkRc8xJQm9D7qCL9BWrmtcLssNTj5wuuUh0WacIJWw48Ty4huYz8exnc9IFDJInQhsRcxdvsV42m7N1c3UIxk1tPNrvLv9i9T6JdZ6p0kfHXXWXkGxGQ2UcTMGEUfqWK0rQrO0Mak9rl8dpWFSIlP-GYUPlYT8UA8ME3ZbEB7fZWkcmhWRph53LrFCsTMwiDbqT-9mBONh75kyWLtdbFQbrGza_j0JHk-35d6czTKKLTMxtWnX5xRm22ml8kAh5_Vkw0pc2piHJKV0A-LUdNjIThX8yzgMp8deiPUuXhiCYjvX2w-svcnpBh42467HAZDR9dUnlVi9uqP1Ph49U-TuQyVZvuJA=w1232-h1642-no?authuser=0
  );
}
.bg__fourth {
  height: 100vh;

  background-image: url(
https://lh3.googleusercontent.com/rk40Ww0UpFczBlUlgwDxy38NidC4-FnHplv0yfRrvqtlFkk2h9QROmC_KYsuU3KKNpu8Z61svQ0CJ9TN5GmoqbE3bpI9bXEv1B0wgL_Hp0cWYy54V_gkKgtMIeeG92xf_LzMatjWKgS-pupHC_fuoJSuOdgTK5dgKv5rtRvI7EPE55WUFX6WB-Xwl6Ot_YCpr-XcuFwPAYfst7OUdUkXJNwnLtVWhKeSKwQKIeHBJ1O5S2s4zvXG_4oNbPtpQFTsUSMis0I86acj9C4G1tvAh4Pj9P_MteCVEF8Cu27fkFg9znU8sasD8r3s1uKHZDulz1W0744EcR8AUK0V-DLxC5Ps-PPukoIMKmk25BKV-0xEzmpvxFOJhynojkc_6l1DrwxcPq8I-OlMOPggOLNCThyk640ScGMoyGha2VBE0koSvCFddtBtnAsUOYA8J0FgMKH8efaF6PO9X2W_WkJg46diIc5j3KAt1DkPT9XzwJRibQJrMCAEddtghHGiWgdcupv90qiPM2iMNVOp-MIfLck1MLnFkBALwR2WBRA_cOANCQB_HlB_EUZGovFHcxcnM7JKASs3N3aGdAZcO5DEra9Bp-Ba2ltClGdk_KJlJlvNYH9JfuNDsnfnqwrichMXuPNc2uC8QiXnLtjzSReMXeOQ2hdmWRtbAK1Unlvml-rFxHBtiNmc0zordiRVeQ=w965-h724-no?authuser=0
  );
}





/*HEADER*/

.navbar-brand img {
  display: inline-block;
  margin-right: 5px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 700;
  color: #1e1e1e!important;
  text-transform: uppercase;
  text-shadow: none!important;
}

.navbar {
  margin-bottom: 0px!important;
}

.navbar-inverse {
  background-image: none;
  background-color: #fff!important;
  border-radius: 0!important;
  border-color: transparent!important;
  border-bottom: 1px solid #ddd!important;
}

.nav a {
  font-size: 15px;
  color: #1e1e1e!important;
  text-shadow: none!important;
  margin-left: 20px;  
}

.nav a:hover {
  color: #f23b3b!important;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

.nav li:hover .sub-menu { /*http://www.greywyvern.com/?post=337*/
  visibility: visible;
  opacity: 1;
}

.nav span {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  margin-top: -10px;
  display: inline-block;
  background-color: #f23b3b;
  padding: 6px 12px;
  text-align: center;
  border-color: transparent;
}

.nav .sub-menu {
  border-top: 8px solid #fff;
  margin-left: 30px;
  position: absolute;
  background-color: #fff;
  width: 140px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease;
          transition: opacity 1.5s ease;
  z-index: 12;
}

.nav .sub-menu li {
  list-style: none;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

.nav .sub-menu li:first-child {
  border-top: 3px solid #f23b3b;
}

.nav .sub-menu li a {
  font-size: 13px;
  text-decoration: none;
}

/*SECTIONS*/


/*First Section*/

.left-image {
  float: right;
  overflow: hidden;
  background-size: cover;
  max-width: 100%;
}

.right-caption {
  color: #fff;
}

.right-caption h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.right-caption h2 {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 10px;
  margin-top: 30px;
}

.right-caption p {
  color: #fff!important;
}

.stroked-button {
  margin-top: 40px;
}

.stroked-button a {
  margin-top: 30px;
  text-decoration: none!important;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 16px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.stroked-button a:hover {
  color: #f23b3b;
  border-color: #f23b3b;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

.arrow {
  position: absolute;
  left: 0;
  bottom: 72px;
  width: 100%;
  text-align: center;
}

.arrow i {
  font-size: 22px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.arrow i:hover {
  color: #f23b3b;
  border-color: #f23b3b;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.arrow:active .btn {
  box-shadow: none;
}

/*Second Section*/


.sevice-items {
  margin-top: 40px;
}

.single-item {
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.single-item:hover i {
  color: #fff;
  background-color: #f23b3b;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
  border-color: transparent;
}

.single-item i {
  margin-top: 30px;
  font-size: 26px;
  color: #f23b3b;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
}

.single-item h2 {
  font-size: 15px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
}

.single-item p {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.service-arrow  {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px!important;
}

.service-arrow i {
  font-size: 22px;
  color: #f23b3b;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #f23b3b;
  border-radius: 50%;
}

.service-arrow i:hover {
  color: #f23b3b;
  border-color: #f23b3b;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.service-arrow:active .btn {
  box-shadow: none;
}


/*Third Section*/


.left-text {
  position: absolute;
  margin-top: 20%;
  background-color: #fff;
  border-top: 3px solid #f23b3b;
}

.left-text h2 {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
}

.left-text .line {
  margin-left: 30px;
  width: 180px;
  height: 2px;
  background-color: #ddd;
}

.left-text p {
  margin: 30px;
}

.left-text .button {
  margin: 30px;
  padding-bottom: 30px;
}

.left-text a {
  text-decoration: none!important;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 10px;
  margin: 0px;
  color: #fff!important;
  background-color: #f23b3b;
}


/*Fourth Section*/

.right-text {
  position:absolute; 
  z-index: 11;
  background-color: #fff;
  border-top: 3px solid #f23b3b;
}

.right-text h2 {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
}

.right-text .line {
  margin-left: 30px;
  width: 180px;
  height: 2px;
  background-color: #ddd;
}

.right-text p {
  margin: 30px;
}

.right-text .button {
  margin: 30px;
  padding-bottom: 30px;
}

.right-text a {
  text-decoration: none!important;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 10px;
  margin: 0px;
  color: #fff!important;
  background-color: #f23b3b;
}

.templatemo-position-relative {
  position: relative;
}

#third-section,
#third-section .container,
#third-section .row,
#fourth-section,
#fourth-section .container,
#fourth-section .row {
  height: 100%;
}
.fourth-arrow {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.fourth-arrow i {

  font-size: 22px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.fourth-arrow i:hover {
  color: #f23b3b;
  border-color: #f23b3b;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.fourth-arrow:active .btn {
  box-shadow: none;
}

/*fifth Section*/

#fifth-section {
  text-align: center;
  padding-top: 40px;
  background-color: #fff;
}

#fifth-section h1 {
  font-size: 22px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #f23b3b;

}

#fifth-section p {
  margin-top: 5px;
}

.submit-form {
  margin-top: 40px;
}

.submit-form input {
  color: #888;
  padding: 8px 10px;
  font-size: 13px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
}

.submit-form select {
  color: #888;
  padding: 8px 10px;
  font-size: 13px;
  width: 100%;
  outline: none;
  border-color: #ddd;
}

#fifth-section .templatemo-submit {
  display: block;
  margin-top: 24px;
  margin-bottom: 60px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 60px;
  color: #fff;
  background-color: #f23b3b;
  border: 0px;
}

.templatemo-center {
  text-align: center;
}

/*FOOTER*/

footer {
  background-color: #f23b3b;
  text-align: center;
}

.social-icons li {
  margin-top: 60px;
  list-style: none;
  display: inline-block;
}

.social-icons a {
  color: #f23b3b;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  line-height: 25px;
}

.social-icons a:hover {
  background-color: #f23b3b;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.copyright-text p {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 10px;
}

.copyright-text a {
  color: #f9c9c9!important;
  text-decoration: none!important;
}

.third-arrow  {
  text-align: center;
  padding-bottom: 40px;
}

.third-arrow i {
  font-size: 22px;
  color: #f23b3b;
  width: 30px;
  height: 30px;
  background-color: #fff;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
}

.third-arrow i:hover {
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.third-arrow:active .btn {
  box-shadow: none;
}



/*SIDEBAR*/


#heading-pages img {
  height: auto;
  overflow: hidden;
  width: 100%;
  border-bottom: 3px solid #f23b3b;
  background-repeat: no-repeat;
}


#heading-pages {
  text-align: center;
}

#heading-pages h2 {
  margin-top: 60px;
  font-size: 22px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #f23b3b;
  padding-bottom: 15px;
}

#heading-pages p {
  margin-top: 5px;
  padding-bottom: 50px;
}

.main-post {
  padding-bottom: 80px;
}

.image-post img {
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid #f23b3b;
}

.post-content {
  background-color: #fff;
  margin-top: -20px;
}

.post-content h1 {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 0 0 30px;
}

.post-content p {
  padding: 30px;
}

.post-content blockquote {
  font-size: 14px;
  color: #555;
  font-weight: 600;
  border-left: 3px solid #f23b3b;
  margin-left: 30px;
  margin-right: 30px;
}

.first-widget {
  padding-bottom: 60px;
}

.widgets h4 {
  margin-top: 0px;
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.widget-social li {
  margin-top: 15px;
  list-style: none;
  display: inline-block;
}

.widget-social a {
  font-size: 13px;
  color: #fff;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #aaa;
  text-align: center;
  display: inline-block;
  line-height: 25px;
}

.widget-social a:hover {
  background-color: #f23b3b;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.second-widget {
  padding-bottom: 70px;
}

.posts {
  display: inline;
}

.posts img {

}

.posts a {
  text-decoration: none;
  color: #1e1e1e;
}

.posts a:hover {
  color: #f23b3b;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.posts h6 {
  font-size: 15px;
  color: #1e1e1e;
  font-weight: 700;
  margin-left: 135px;
  margin-top: -80px;
  line-height: 22px;
}

.posts span {
  font-size: 12px;
  color: #999;
  font-weight: 300;
  display: inline;
  margin-left: 135px;
}

.post1 {
  margin-top: 30px;
}

.post2 {
  margin-top: 40px;
}

.third-widget {
  padding-bottom: 50px;
}

.third-widget ul {
  margin-top: 20px;
}

.third-widget li {
  list-style: none;
  padding-bottom: 5px;
}

.third-widget li a:hover p {
  color: #f23b3b;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.third-widget li a:hover span {
  color: #f23b3b;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.third-widget a {
  font-size: 13px;
  font-weight: 600;
}

.third-widget li p {
  display: inline-block;
  color: #aaa;
}

.third-widget li span {
  float: right;
  color: #aaa;
}

/*ELEMENTS*/

.elements-headings {
  margin-top: 60px;
  padding-bottom: 20px;
}

.elements-headings h2 {
  font-size: 48px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #ddd;
  padding-bottom: 10px;
}

.heading-levels h1 {
  margin-top: 0px;
}

.photos img {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}

.elements {
  padding-bottom: 0px;
}

.main-footer {
  margin-top: 80px;
  margin-bottom: -80px;
}

/*RESPONSIVE*/

@media (max-width: 991px) { 
  .fourth-arrow {
    text-align: center;
    margin-top: 92vh;
  }
    .submit-form select {
    margin-top: 15px;
  }
  .submit-form input {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .right-caption h4 {
    font-size: 16px;
  }
  .right-caption h2 {
    font-size: 48px;
  }
  .left-image {
    float: none;    
  }
  .left-image img {
    margin: 0 auto;
  }
  .right-caption {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 0;
  }
  .right-caption h2 {
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .right-caption p {
    margin-top: -5px;
  }
  .stroked-button {
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 10px;
  }
  .nav .sub-menu {
    display: block;
    position: relative;
    opacity: 1;
    visibility: visible;
    text-align: left;
  }
  .sub-menu a {
    color: #999!important;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #f23b3b!important;
    background-color: #f23b3b;
  }
  .navbar-inverse .navbar-toggle:hover {
    background-color: #f23b3b!important;
  }
  .right-text .button {
    padding-bottom: 0px;
  }
  .left-text .button {
    padding-bottom: 0px;
  }
}
@media (max-width: 640px) {
  .left-image img {
    width: 128px;
  }
}
@media (max-width: 480px) {
  .arrow {
    bottom: 20px;
  }
}
@media (max-height: 600px) {
  .bg__third, .bg__fourth {
    min-height: 600px;
  }
}
@media (max-height: 500px) {
  .bg__first {
    min-height: 520px;
  }
}
