@import url(font-awesome.min.css);
/* @import "bourbon"; */


/* Typography */

h1, h2, h3, h4, h5, h6, icon {
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    
    text-align: left;
    font-family: Nexa;
}

/*#e5474b 
#F2A900
#2D68C4
*/

h1{
    font-size: 3em;
    padding: 1em;
    color: #2D68C4;
}
.title{
    color: white;
    padding-top: 1em;
}

h2{
    font-size: 2em;
    color: #2D68C4;
}

h3{
    color:black;
}

p{
    font-family: sans-serif;
    padding: inherit;
    font-size: 20px;
}

a{
    color: #2D68C4;
}

ul{
    list-style-type: none;
    font-size: inherit;
}

/* Fonts */

@font-face {
    font-family: "Nexa";
    font-weight: 700;
    src: url(./assets/fonts/nexa_bold.otf);
}
.font-nexa {
    font-family: "Nexa";
    font-weight: 700;
}

/* Containers */


.title-container{
    background-color: #F2A900;
    margin:0px;
    padding:0px;
}
.main-body{
    margin:1em;
    padding:1em;
}

body { 
    margin:0px; 
    padding:0px; 
}

.fancy-button{
    display: block;
    position: relative;
    margin: 5px;
    padding: 10px 40px;
    font-size: 25px;
    font-family: Nexa;
    color: #2D68C4;
    border-radius: 20px;
    border-color: #2D68C4;
    border-right-color: #2D68C4;
    background-color: white;
    outline: none;
    cursor: pointer;
    display: inline;
}
    
.fancy-button:hover {
    background-color:#3A72C6;
    color: white;
  }

.rounded-corners {
  border-radius: 25px;
  border: 2px solid #2D68C4;
  padding: 20px; 
}

body{
    background-color: #FAF9F6;
}


@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

$col-bg: #FFC568;
$col-lttr: #763C8C;
$col-line: #FFFFFF;
$to-mobile: 520px;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  @include flex-center();
  
  background-color: $col-bg;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  @media screen and (max-width: $to-mobile) {
    /* don't know how to set default units to rem in mojs :(( */
  }
}

.container {
  width: 50rem;
  height: 20rem;
  position: relative;
}

.svg-container {
  z-index: 2;
  position: absolute;
}

.mo-container {
  width: 100%;
  height: 100%;
}


.line {
  fill: none;
  stroke: $col-line;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.lttr {
  fill: $col-lttr;
}

.sound {
  position: fixed;
  color: $col-lttr;
  font-size: 1.6rem;
  bottom: 1rem;
  right: 1rem;
  text-decoration: underline;
  cursor: default;
  &--off {
    text-decoration: line-through;
  }
}



